<h1>My Portfolio</h1>
<%= link_to "logout", destroy_user_session_path, method: :delete %>

<h3>please enter a stock ticker to lookup (ex: goog = google, aapl = apple)</h3>

<h3>Search for Stocks</h3>
<div id="stock-lookup">
  <%= form_tag search_stocks_path, method: :get, id: "stock-lookup-form" do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock],
                                  placeholder: "Stock ticker symbol", autofocus: true,
                                  class: "form-control search-box input-lg" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Look up a stock
        <% end %>
      </div>
    </div>

  <% end %>
</div>
<table class="table">
  <tr>
    <% if @stock %>
      <div class="well results-block">
        <td class="a"><strong>Symbol: </strong> <%= @stock.ticker %></td>
        <td><strong>Name: </strong> <%= @stock.name %></td>
        <td><strong>Price: </strong> <%= @stock.last_price %></td>
      </div>
    <% end %>
  </tr>

</table>
